[submodule "meta"]
	path = meta
	url = git://github.com/amylum/pkgforge-helper
[submodule "hardware/keyboardio"]
	path = hardware/keyboardio
	url = https://github.com/keyboardio/Kaleidoscope-Bundle-Keyboardio
